
body{
background-image: url('../img/background.png');
}

.container{
    background-color:#fef28b;
    margin:0px auto;
    padding-top: 20px;

}

h1,h2,.listStyle{
    font-family: 'Caveat', cursive;

}

.mainPic {
	padding: 10px;
	width: 50%;
	margin: 0 auto;
}

.title {
    border: 3px dotted red;
}

.tte{
    border: 2px dotted red;
    

}

.addBurg{
    padding-bottom: 20px;

}